/* background*/
body {
    background-image: url(http://78.media.tumblr.com/e5da3cb3fbe9af8f2198f3459e72424a/tumblr_inline_n258tklDt11qhwjx8.png);
    padding-top: 70px;
    font-family: Lobster;
    
}
/* margin for gallery*/
.top-buffer { margin-top:40px;            

}
/* color for h1*/
#text-red{
    color: indianred;
}

/* font for form */
.form-font{
    font-family: Roboto;
}

.btnfloating{
    position: fixed;
    bottom: 0px; 
    right: 4px; 
    float: right;    
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
}
.btna {
    text-decoration: none;
    color: white;
}
.btna:hover{
    text-decoration: none;
    color:white;
}
.btna:active{
    text-decoration: none;
    color: white;
}
.cypry{
    background-color:#428BCA;
}
a:hover{
    text-decoration: none;
}
.mt-5{
    margin-top: 5px;
}